.spot {
  margin: 10px;
  padding: 10px;
}

.single-spot {
  padding: 30px 80px;
  margin-top: 80px;
}

.spot-head {
  max-width: 1120px;
  margin: 0 auto;
}

.spot-title h1 {
  font-weight: 600;
  font-size: 24px;
  font-family: "Figtree", sans-serif;
}

.spot-head-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  margin-top: 10px;
}

.embed-map-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 48px 0;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid rgb(221, 221, 221);
}

.embed-map-box h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.embed-map-box p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.embed-map {
  border: none;
  border-radius: 16px;
  outline: none;
}

.spot-head-info a {
  margin: 0;
  text-decoration: underline;
}

.reviews-link {
  margin: 0;
  margin-left: 5px !important;
  text-decoration: underline;
  cursor: pointer;
}

.spot-head-info .fa-star {
  margin-right: 5px;
  font-size: 12px;
  margin-top: 3px;
}

.new-spot {
  font-weight: 400;
  font-size: 15px;
  display: flex;
}

.spot-info-stars {
  display: flex;
  font-size: 15px;
}

.spot-info-stars svg {
  font-size: 10px;
}

.spot-info-spot {
  margin: 0 7px;
}

.spot-info-left,
.spot-info-right {
  display: flex;
  align-items: center;
  font-family: "Figtree", sans-serif;
  font-size: 14px;
}

.spot-info-location {
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.singlespot-photos-grid {
  border-radius: 12px;
  position: relative;
  height: 43vw;
  max-height: 560px;
  overflow: hidden;
  margin: 17px auto 0 auto;
  max-width: 1120px;
}

.photos-default {
  height: 100%;
  width: 50%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.photos-default img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photos-photo-bottom,
.photos-photo-top {
  overflow: hidden;
  height: 50%;
  object-fit: cover;
  display: block;
  width: 100%;
}

.photos-photo-bottom {
  padding-top: 8px;
}

.photos-photo-box-middle {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  height: 100% !important;
  width: 25% !important;
  padding-left: 8px !important;
  left: 50% !important;
  top: 0px !important;
  position: absolute !important;
}

.photos-photo-box {
  overflow: hidden;
  display: block;
}

.photos-photo-box-middle-bottom {
  height: 25% !important;
  display: block;
}

.photos-photo-box-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  padding-left: 8px;
  right: 0;
  top: 0;
  position: absolute;
}

.photos-photo-top img,
.photos-photo-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  max-width: 1120px;
  margin: 52px auto;

  border-top: 1px solid lightgrey;
}

.spot-info-right-btn {
  padding: 9px;
  display: flex;
  align-items: center;
  font-family: "Figtree", sans-serif;
  border-radius: 10px;
  font-size: 15px;
}

.spot-info-right-btn svg {
  margin-right: 8px;
  font-size: 16px;
}

.spot-info-right-btn:hover {
  background-color: rgb(243, 243, 243);
}

.spot-info-share {
  background: none;
  border: 0;
  text-decoration: underline;
}

.spot-info-share:hover {
  cursor: pointer;
}

.spot-info-save {
  margin: 0 -8px;
}

.spot-info-right-btn a {
  text-decoration: underline;
  font-weight: 500;
}

.reviews-head h2 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 52px;
  font-family: "Figtree", sans-serif;
}

.reviews-head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-direction: column;
}

.reviews-head h2 svg {
  font-size: 14px;
  margin-bottom: 3px;
  margin-right: 7px;
}

/* .add-review-btn {
  background: none;
  border: 1px solid rgb(205, 205, 205);
  padding: 15px;
  border-radius: 12px;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
} */

.add-review-btn:hover {
  cursor: pointer;
}

.add-review-btn {
  width: 150px;
  border-radius: 8px;
  outline: 0;
  height: 48px;
  border: 0;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  color: white;
  background: linear-gradient(
    90deg,
    #e51d4f,
    #e31952,
    #e21555,
    #e01158,
    #de0d5b,
    #dc0a5e,
    #d90661,
    #d70464
  );
  z-index: 1;
  position: relative;
}

.close-about-modal {
  background: none;
  border: 0;
  font-size: 18px;
}

.close-about-modal:hover {
  cursor: pointer;
}

.anchor {
  padding-top: 90px;
  margin-top: -90px;
}

.add-review-btn::before {
  background: linear-gradient(
    90deg,
    #d70464,
    #d90661,
    #dc0a5e,
    #de0d5b,
    #e01158,
    #e21555,
    #e31952,
    #e51d4f
  );
  z-index: -1;
  transition: opacity 0.5s ease;
  opacity: 0;
  border-radius: 8px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  bottom: 0;
  left: 0;
}

.reviews-top-head {
  display: flex;
  align-items: center;
  margin-top: -18px;
}

.add-review-btn:hover::before {
  opacity: 1;
  cursor: pointer;
}

.add-review-btn:hover {
  cursor: pointer;
}

h2 .dot {
  font-size: 10px;
  margin: 0 7px;
}

.review-name h3 {
  font-weight: 600;
  color: #222;
  font-size: 16px;
  margin-bottom: 2px;
}

.review-box {
  margin: 20px;
  margin-left: 0;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1120px;
}

.review-name {
  font-weight: 300;
  font-size: 14px;
  /* margin-bottom: 16px; */
  color: #717171;
}

.review-author {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.review-author img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 12px;
}

.review-body {
  font-weight: 400;
  font-size: 16px;
  color: #222;
  line-height: 24px;
}

@media screen and (min-width: 500px) and (max-width: 1130px) {
  .single-spot {
    padding: 30px 40px;
  }

  .singlespot-photos-grid {
    height: calc(60vh - 64px);
    min-height: 300px;
    max-height: 520px;
  }
}

@media (min-height: 500px) and (max-height: 700px) {
  .singlespot-photos-grid {
    height: 50% !important;
  }
}

.about-modal {
  padding: 30px;
  width: 90vw !important;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  max-width: 1030px;
  overflow-y: auto;
  max-height: 600px;
  height: 80vh;
  font-family: "Figtree", sans-serif;
}

.about-modal-head {
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
  margin-top: 30px;
}

.about-modal-head p {
  font-size: 16px;
  font-weight: 400;
}

.about-modal-head img {
  height: 30px;
  margin-bottom: 20px;
}

.about-modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 60px;
  margin-top: 30px;
}

.about-box-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.about-box-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.about-modal-close {
  background: none;
  border: 0;
}

.about-modal-close:hover {
  cursor: pointer;
}

@media (max-width: 1120px) {
  .about-modal-body {
    display: flex;
    flex-direction: column;
    height: 90vh !important;
  }

  .about-modal-box {
    padding-bottom: 30px;
  }
}

.share-modal {
  overflow: auto;
}

.sharemodal-header {
  font-size: 16px;
  margin-bottom: 30px;
}

.close-share {
  background: none;
  border: 0;
  font-size: 18px;
  margin-bottom: 30px;
}

.close-share:hover {
  cursor: pointer;
}

.close-share svg:hover {
  cursor: pointer;
}

.share-modal h1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}

.sharemodal-body {
  padding: 20px;
}

.sharemodal-info {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.share-modal-img {
  width: 64px;
  height: 64px;
  margin-right: 15px;
  border-radius: 8px;
}

.share-modal-title {
  font-size: 17px;
  font-weight: 400;
  margin-right: 30px;
}

.sharemodal-form .fa-copy {
  font-size: 30px;
}

.copy-url {
  background: none;
  border: 0;
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
}

.copy-url:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.sharemodal-results {
  color: red;
  text-align: center;
}

.show-all-photos {
  position: absolute !important;
  z-index: 3 !important;
  bottom: 24px !important;
  right: 24px !important;
}

.show-all-photos-btn {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  border-color: #222;
  background: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  font-family: "Figtree", sans-serif;
  padding-right: 15px;
  display: flex;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  align-items: center;
}

.show-all-photos-btn svg {
  font-size: 18px;
  margin-right: 8px;
}

.show-all-photos-btn:hover {
  background: #f7f7f7;
}

.show-all-photos-btn:active {
  transform: scale(0.96);
}

.host-section {
  border-top: 1px solid rgb(221, 221, 221);
  padding: 48px 0;
  margin: 0 auto;
  max-width: 1120px;
}

.host-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.host-section-header-img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 16px;
}

.host-section-header-right h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.host-section-header-right p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #717171;
}

.host-credential {
  margin-bottom: 12px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.host-credential svg {
  margin-right: 8px;
  font-size: 20px;
}

.host-section-credentials {
  display: flex;
  align-items: center;
  margin: 0 -12px 12px;
}

.host-about {
  font-size: 16px;
  margin-bottom: 24px;
  padding: 0 8px;
  width: 50%;
  word-break: break-word;
}

.host-section-contact-btn {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  border-color: #222;
  background: white;
  font-family: "Figtree", sans-serif;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 16px;
  font-weight: 600;
}

.host-section-contact-btn:hover {
  background: #f7f7f7;
}

.host-section-contact-btn:active {
  transform: scale(0.96);
}

.single-spot-all-photos-wrapper {
  width: 95vw;
  height: 95vh;
  /* position: relative; */
}

.single-spot-all-photos-page {
  height: 100%;
  /* padding: 30px; */
  width: 100%;
  background: white;
  margin-top: 78px;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
}

.single-spot-all-photos {
  width: 700px;
  margin: 0 auto;
}

.single-spot-all-photos img {
  padding: 10px;
  width: 100%;
  max-height: 900px;
}

.single-spot-all-photos-back-btn {
  background: none;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  /* position: absolute; */
  /* top: 30px; */
  /* left: 40px; */
}

.single-spot-all-photos-back-btn:hover {
  background: #f7f7f7;
}

.single-spot-all-photos-header {
  z-index: 100000;
  position: absolute;
  top: 0px;
  background: white;
  width: 95vw;
  padding: 30px;
  left: 0px;
  height: 80px;
}

.review-reply-btn {
  margin-top: 35px;
  padding: 8px;
  background: none;
  border: 1px solid #222;
  border-radius: 8px;
  width: 80px;
  font-family: "Figtree", sans-serif;
}
