.user-profile {
  font-family: "Figtree", sans-serif;
  padding: 16px;
  display: flex;
  width: 100%;
  max-width: 1064px;
  margin: 120px auto !important;
}

.user-info-side {
  border: 1px solid #ddd;
  min-width: 308px;
  width: 308px;
  padding: 24px 20px;
  border-radius: 12px;
  height: min-content;
}

.user-image {
  border-radius: 100%;
  overflow: hidden;
  width: 127px;
  height: 128px;
  object-fit: cover;
  margin: 0 auto;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-bullets {
  font-size: 17px;
  width: 100%;
  margin-top: 20px;
  font-weight: 500;
}

.user-bullets li {
  font-family: "Figtree", sans-serif;
  display: flex;
  align-items: center;
}

.user-bullets li svg {
  margin: 13px 0;
  font-size: 22px;
}

.bullet-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  margin-right: 5px;
}

.fa-user-check {
  font-size: 20px;
}

.user-confirmation {
  margin-top: 25px;
  padding-top: 35px;
  font-size: 17px;
  border-top: 1px solid rgb(236, 236, 236);
}

.user-profile h2 {
  font-size: 24px;
  font-weight: 500;
}
.user-confirmation ul {
  margin-top: 30px;
}

.user-confirmation ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.user-confirmation ul li svg {
  font-size: 18px;
  margin-right: 8px;
}

.learn-more {
  font-size: 15px;
  font-family: "Figtree", sans-serif;
  color: #222;
  font-weight: 300;
  margin-top: 35px;
  line-height: 18px;
}

.user-main {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 66.666% !important;
}

.user-profile h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Figtree", sans-serif;
}

.identity-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.identity-form-header h1 {
  margin-bottom: 0 !important;
}

.identity-form-header p {
  font-weight: 600;
  font-family: "Figtree", sans-serif;
}
.user-head {
  margin-left: 2px;
  margin-bottom: 48px;
}
.user-head p {
  margin-top: 16px;
  color: #717171;
}

.edit-profile-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: black;
  font-family: "Figtree", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 16px;
}

.edit-profile-btn.about-form-open {
  color: #ddd;
  cursor: not-allowed;
}

.user-about-section h2 {
  margin-bottom: 24px;
}

.user-about-section {
  border-bottom: 1px solid rgb(230, 230, 230);
  word-break: break-word;
}

.user-about-details svg {
  font-size: 18px;
}

.user-about {
  margin-bottom: 32px;
  font-size: 17px;
}

.user-about-detail {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  vertical-align: middle;
}

.user-about-detail:last-child {
  margin-bottom: 32px;
}

.user-about-detail svg {
  margin-right: 8px;
}

.about-form-field label {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 300;

  margin-bottom: 48px;
}

.about-form-field textarea,
.about-form-field input {
  resize: vertical;
  border-radius: 8px;
  padding: 8px;
  font-family: "Figtree", sans-serif;
  font-size: 17px;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none;
}

.about-form-field textarea {
  outline: none;
  margin: 0;
  min-height: 100px;
}

.about-form-cancel {
  border-radius: 8px;
  border: 1px solid transparent;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  background: transparent;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  cursor: pointer;
  font-family: "Figtree", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: underline;
  color: #222;
}

.about-form-cancel:hover {
  background: #f7f7f7;
  color: black;
}

.about-form-save {
  padding: 14px 24px;
  cursor: pointer;
  background: #222;
  color: white;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  font-weight: 600;
  font-size: 17px;
  font-family: "Figtree", sans-serif;
  border-radius: 8px;
}

.about-form-save:hover {
  background: black;
}

.about-form-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-form-btns button:active {
  transform: scale(0.96);
}

.fake-textarea {
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset !important;
  border-radius: 8px;
  padding: 4px;
  margin-top: 8px;
  height: min-content;
}

.fake-textarea:focus-within {
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
  box-shadow: 0;
  border: none;
}

.fake-input {
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset !important;
  border-radius: 8px;
  margin-top: 8px;
  height: min-content;
  padding: 4px;
}

.fake-input:focus-within {
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
  box-shadow: 0;
  border: none;
}

.user-listings {
  padding: 30px 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  height: auto;
  position: relative;
}

.user-carousel {
  position: relative;
  z-index: 100;
}

.carousel-name {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.carousel-name svg {
  margin-right: 5px;
  font-size: 17px;
  color: black;
}

.carousel-title {
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  /* font-weight: 300; */
  /* --title_max-num-lines: 1; */
  word-break: break-all;
  text-overflow: ellipsis;
  /* width: 100%; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.swiper {
  height: min-content;
  position: relative;
}

.swiper-wrapper {
  /* height: 300px; */
  width: 100%;
}

.swiper-slide {
  margin: 5px;
  border-radius: 12px;
}

.carousel-left,
.carousel-right {
  font-size: 20px;
  position: absolute !important;
  top: 100px !important;
  z-index: 10;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin: 0;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent,
    0 2px 4px rgba(0, 0, 0, 0.18);
  transition: transform 0.25s ease;
  height: 32px;
  width: 32px;
}

.carousel-left:hover,
.carousel-right:hover {
  border-color: rgba(0, 0, 0, 0.08);
  background-color: white;
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent,
    0 6px 16px rgba(0, 0, 0, 0.12);
  transform: scale(1.04);
  color: black;
}

.carousel-left:active,
.carousel-right:active {
  border-color: rgba(0, 0, 0, 0.08);
  background-color: white;
  box-shadow: none;
  color: #222;
  transform: scale(1);
}

.carousel-left {
  left: -10px !important;
}

.carousel-right {
  /* z-index: 100; */
  right: -8px !important;
}

.swiper-img {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.swiper-button-prev {
  background: red;
}

.swiper-slide {
  width: 306px !important;
  /* height: 280px !important; */
  position: relative;
}

.user-listings .spot-box {
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgb(36, 36, 36);
}

.user-listings .spotcard-info {
  padding: 10px 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.user-listings .spot-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}

.user-listings h2 {
  margin-bottom: 30px;
}

.user-profile .spots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.user-main-details {
  max-width: 634px;
  width: 100%;
  margin: 0 auto !important;
  margin-right: 0px !important;
}

.user-listings .spots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.user-listings .spot-box {
  width: 305px;
  height: min-content;
}

.user-listings .spot-img {
  width: 100%;
  max-height: 70%;
  /* height: 200px; */
}

.spotcard-info {
  margin-top: 10px;
}

.spotcard-info .fa-star {
  margin-right: 5px;
}

.single-spot-page img {
  max-width: 300px;
}
.single-spot-page {
  font-family: "Figtree", sans-serif;
  margin-top: 100px;
}

.single-spot-page button {
  background: none;
  border: 0;
}
.spotcard-rating {
  font-size: 13px;
  font-family: "Figtree", sans-serif;
  margin-bottom: 10px;
}

.spotcard-reviewcount {
  color: #717171;
}

.spotcard-title {
  font-family: "Figtree", sans-serif;
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
}

.user-main .user-reviews {
  margin-top: 30px;
  text-decoration: underline;
}

.learn-more button {
  background: none;
  border: 0;
  font-family: "Figtree", sans-serif;
  font-size: 18px;
}

.learn-more button:hover {
  cursor: pointer;
}

.identity-modal-body {
  max-width: 568px;
  overflow-y: auto;
  padding: 24px;
  height: 75vh;
  max-height: 500px;
}

.identity-modal-icon {
  font-size: 20px;
  min-width: 40px;
  display: flex;
  align-items: flex-start;
}

.identity-modal-info h2 {
  font-size: 18px;
}

.identity-modal-point {
  display: flex;
  justify-content: space-between;
}

.identity-modal h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.identity-modal h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.identity-modal p {
  margin-bottom: 20px;
  font-size: 14px;
}

.manage {
  margin-top: 100px;
}

.manage .spots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.manage .outer-spot {
  border: 1px solid black;
  /* border-radius: 12px; */
  margin: 20px;
}

.spotcard-info-box {
  display: flex;
  margin: 10px;
  width: 100%;
  justify-content: space-between;
}

.user-listings .spot-box {
  width: auto;
  font-size: 15px;
}

.manage .spotcard-info {
  width: 100%;
}

.user-listings .manage {
  padding: 10px;
}

.manage .owner-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 20px;
}

.manage .owner-buttons button {
  background: none;
  border: 0;
  padding: 3px;
  border-radius: 8px;
  font-family: "Figtree", sans-serif;
}

.manage .owner-buttons button:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.listings {
  width: 100%;
  max-width: 2500px;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 40px 40px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  padding-left: 40px;
  padding-right: 40px;
  /* margin-left: 12px;
  margin-right: 12px; */
  margin: 0 auto;
  aspect-ratio: 20/19;
  height: 100%;
}
.listings-box {
  border-radius: 20px;
  /* overflow: hidden; */
  /* min-width: 290px; */
}

.listing-img {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  max-height: 200px;
  height: 100%;
  /* min-width: 290px; */
}

.listing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listing-icons {
  font-size: 40px;
  position: absolute;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(36, 36, 36, 0.541);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 40px;
  top: 50%;
  left: 50%;
  /* display: none; */
  transform: translate(-50%, -50%);
  /* color: blue; */
}

.listing-icons button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 40px;

  color: rgb(255, 255, 255);
}

.listing-icons button:hover {
  color: #ff385c;
}

.outer-listing:hover + .listing-icons {
  display: block;
}

.listings-info-box {
  padding: 10px;
}

.listings-info {
  font-size: 15px;
  font-weight: 400;
  color: #717171;
  line-height: 20px;
  width: 100%;
  /* padding: 0 20px; */
  margin: 0 auto;
}

.listings-info ul li {
  margin: 0;
  padding: 0;
}

.listing-rating svg {
  margin-right: 5px;
}

.listing-name {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 2px;
}

@media (min-width: 1940px) {
}

@media (max-width: 1020px) {
  .user-main {
    margin-left: 40px;
  }

  .user-listings .spot-box {
    width: 500px;
    height: min-content;
  }

  .user-listings .spot-img {
    width: 100%;
    height: 400px;
  }
  .user-listings .spot-img {
    width: 100%;
    min-width: 400px;
    height: 300px;
  }

  .user-profile .spots {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    width: 100%;
  }

  .user-listings .spots {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    width: 100%;
  }
}

@media (max-width: 1128px) {
}
