.user-profile {
  font-family: "Roboto Flex", sans-serif;
  padding: 47px 51px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 80px;
}

.user-info-side {
  border: 2px solid rgb(220, 220, 220);
  min-width: 308px;
  width: 308px;
  padding: 24px 25px;
  border-radius: 12px;
  height: min-content;
}

.user-image {
  border-radius: 100%;
  overflow: hidden;
  width: 127px;
  height: 128px;
  object-fit: cover;
  margin: 0 auto;
}

.user-image img {
  width: 100%;
}

.user-bullets {
  font-size: 17px;
  width: 100%;
  margin-top: 20px;
  font-weight: 500;
}

.user-bullets li {
  font-family: "Roboto Flex", sans-serif;
  display: flex;
  align-items: center;
}

.user-bullets li svg {
  margin: 13px 0;
  font-size: 22px;
}

.bullet-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  margin-right: 5px;
}

.fa-user-check {
  font-size: 20px;
}

.user-confirmation {
  margin-top: 25px;
  padding-top: 35px;
  font-size: 17px;
  border-top: 1px solid rgb(236, 236, 236);
}

.user-profile h2 {
  font-size: 24px;
  font-weight: 500;
}
.user-confirmation ul {
  margin-top: 30px;
}

.user-confirmation ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.user-confirmation ul li svg {
  font-size: 18px;
  margin-right: 8px;
}

.learn-more {
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  color: #222;
  font-weight: 300;
  margin-top: 35px;
  line-height: 18px;
}

.user-main {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 73px;
  width: 100%;
}

.user-profile h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.user-head {
  margin-left: 2px;
}
.user-head p {
  margin-top: 16px;
  color: #717171;
}

.user-listings {
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.manage-listings {
  margin-top: 50px;
  display: grid;
  padding: 0 80px;
  margin: 50px auto;
}

.manage-listings .spot-box {
  width: 305px;
  height: min-content;
}

.manage-listings .spot-img {
  width: 100%;
  height: 200px;
}

.user-listings h2 {
  margin-bottom: 30px;
  margin-left: 5px;
}

.user-profile .spots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.manage-listings .spots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.user-listings .spot-box {
  width: 305px;
  height: min-content;
}

.user-listings .spot-img {
  width: 100%;
  height: 200px;
}

.spotcard-info {
  margin-top: 10px;
}

.spotcard-info .fa-star {
  margin-right: 5px;
}

.single-spot-page img {
  max-width: 300px;
}
.single-spot-page {
  margin-top: 100px;
}
.spotcard-rating {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.spotcard-reviewcount {
  color: #717171;
}

.spotcard-title {
  font-family: "Roboto Flex", sans-serif;
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
}

.user-main .user-reviews {
  margin-top: 30px;
  text-decoration: underline;
}
