.createspot-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: 70vh;
}

.loginform-header .fa-xmark:hover {
  cursor: pointer;
}

.create-spot-page {
  margin-top: 100px;
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 12px;
  left: 25%;
  top: 0;
}

.create-spot-page label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-edit {
  width: 100%;
  border-radius: 8px;
  outline: 0;
  height: 48px;
  border: 0;
  font-size: 18px;
  font-family: "Roboto Flex", sans-serif;
  color: white;
  margin-top: 30px;
  padding: 15px;
  background: linear-gradient(
    90deg,
    #e51d4f,
    #e31952,
    #e21555,
    #e01158,
    #de0d5b,
    #dc0a5e,
    #d90661,
    #d70464
  );
  position: relative;
}

.submit-edit:hover {
  cursor: pointer;
}
.createspot-modal {
  max-height: 95vh;
}

.createspot-form input,
.createspot-form select {
  padding: 20px 10px;
  width: 100%;
  margin-top: -1px;
  font-size: 16px;
  outline: 0;
  border: 1px solid rgb(184, 184, 184);
}

.createspot-form {
  height: 90vh;
  max-height: 400px;
  overflow-y: auto;
}

.close-createspot {
  background: none;
  border: 0;
}

#name {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#img-url {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.createspot-btn {
  width: 100%;
  border-radius: 8px;
  outline: 0;
  height: 48px;
  border: 0;
  font-size: 18px;
  font-family: "Roboto Flex", sans-serif;
  color: white;
  margin-top: 30px;
  background: linear-gradient(
    90deg,
    #e51d4f,
    #e31952,
    #e21555,
    #e01158,
    #de0d5b,
    #dc0a5e,
    #d90661,
    #d70464
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.createspot-btn:hover {
  cursor: pointer;
}
