.edit-spot {
    margin-bottom: 20px;
    padding: 3px;
}

.spot-box {
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
}

.spot-box {
    cursor: pointer;
}

.spots-list {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.create-spot {
    margin-bottom: 20px;
}
