.spots-div {
  padding: 30px 40px;
  max-width: 2500px;
  margin: 0 auto;
}
.spot-info {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700 !important;
  font-family: "Figtree", sans-serif;
}

.spots-body {
  height: max-content;
  margin-top: 80px;
  min-height: 120%;
}

.spot-box {
  max-width: 350px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  aspect-ratio: 20/19;
}

.spot-img {
  /* max-height: 370px; */
  height: 100%;
}

.spot-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.spot-box:hover {
  cursor: pointer;
}

.spots-list {
  width: 100%;
  max-width: 2500px;
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 40px 24px;
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
  padding-left: 40px;
  padding-right: 40px;
  /* margin-left: 12px;
  margin-right: 12px; */
  margin: 0 auto;
  height: 100%;
}

.create-spot {
  margin-bottom: 20px;
}

.spotcard-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 5px;
}

.spotcard-location-left {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.spotcard-location-right {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.spotcard-location-right svg {
  margin-right: 5px;
  font-size: 16px;
}

.spotcard-subinfo {
  font-weight: 400;
  color: #717171;
  line-height: 20px;
}

.spotcard-price {
  font-weight: 600;
  color: #222;
}

.spotcard-priceline {
  color: rgb(34, 34, 34) !important;
  font-weight: 400;
  margin-top: 10px;
}

.edit-spot {
  margin: 0;
  margin-right: 15px;
}

.owner-buttons {
  width: 100%;
}

.spots-categories-bar {
  width: 100%;
  position: sticky;
  top: 60px;
  height: 98px;
  background: white;
  z-index: 8;
  margin: 0 auto;
  margin-top: 75px;
  /* display: flex; */
  justify-content: space-between;
  /* max-width: 2500px; */
  display: none;
  transition: box-shadow 0.2s ease;
}

.spot-categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 2500px;
  background: white;
  padding: 0 80px;
  margin: 0 auto;
  padding-bottom: 0;
  z-index: 99;
}

.bottom-border {
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
  /* transition: box-shadow 1s ease; */
  /* border-bottom: 1px solid rgb(236, 236, 236); */
  width: 100%;
}
.category {
  text-align: center;
  opacity: 0.6;
  padding-bottom: 10px;
  transition: opacity 0.5s ease;
  padding-top: 30px;
  border-bottom: 2px solid transparent;
  background-color: white;
  height: auto;
  outline: none;
  width: max-content;
  border-color: transparent;
}

.category:active {
  transform: scale(0.96);
}

.category.category-clicked {
  opacity: 1;
  border-bottom: 2px solid black;
}

.category.category-clicked:hover {
  transform: scale(1);
  border-bottom-color: #717171;
  cursor: default;
}

.sticky {
  position: fixed;
  top: 80px;
  width: 100%;
}

.category-icon img {
  width: 24px;
  height: 24px;
}

.category-name {
  font-size: 12px;
  font-family: "Figtree", sans-serif;
  margin-top: 8px;
  word-break: nowrap;
  overflow-wrap: nowrap;
  font-weight: 600;
  min-width: 50px;
  color: black;
}

.category:hover {
  opacity: 1;
  cursor: pointer;
  border-bottom: 2px solid rgb(223, 223, 223);
}

.category:active,
.category-focus {
  border-bottom-color: rgb(223, 223, 223);
}

@media (min-width: 2200px) {
  .spots-categories-bar {
    display: flex;
  }
}

@media (min-width: 1880px) {
  .spots-list {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .spots-div {
    padding: 30px 40px !important;
  }
}

@media (min-width: 1640px) and (max-width: 1879px) {
  .spots-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    /* padding-left: 40px;
    padding-right: 40px; */
  }

  .spots-div {
    padding: 30px 40px !important;
  }
}

@media (min-width: 1440px) {
  .spots-div {
    padding: 30px 80px;
  }

  .spot-categories {
    padding: 0 80px !important;
    overflow-x: hidden;
  }
}

@media (min-width: 1128px) and (max-width: 1639px) {
  .spots-categories-bar {
    overflow-x: scroll;
  }
  .spots-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-left: 0;
    padding-right: 0;
  }

  .spot-categories {
    padding: 0 40px;
  }
}

@media (min-width: 950px) and (max-width: 1127px) {
  .spots-categories-bar {
    overflow-x: scroll;
  }
  .spots-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 744px) {
  .spot-categories {
    padding: 0 40px;
  }
}

@media (min-width: 550px) and (max-width: 949px) {
  .spots-categories-bar {
    overflow-x: scroll;
  }
  .spots-list {
    grid-template-columns: auto auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1px) and (max-width: 549px) {
  .spots-categories-bar {
    overflow-x: scroll;
  }
  .spots-list {
    grid-template-columns: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
