/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Figtree", sans-serif;
  color: #222;
  line-height: 18px;
  font-size: 14px;
  position: relative;
}

#root {
  position: relative;
}
a {
  text-decoration: none;
  color: black;
  margin: 0;
}

.error-item {
  color: rgb(241, 13, 13);
  font-weight: 500;
  text-align: center;
}

.error-list {
  color: rgb(241, 13, 13);
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
