.signup-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 300px;
  padding: 10px;
}

.signup-form label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.signup-form input,
.signup-form select {
  margin-top: 5px;
  padding: 5px;
  border-radius: 8px;
}

.signup-form button {
  padding: 5px;
  margin-top: 10px;
}

#signup-email {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.switch-login {
  margin-top: 30px;
  text-align: center;
}

.switch-login-btn {
  font-family: "Figtree", sans-serif;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}
#signup-password {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 10px;
}

.loginform-content input {
  margin-top: -1px;
}

.signup-close {
  background: none;
  border: 0;
}

.user-input-img input {
  margin-top: 10px;
  border-radius: 8px;
  width: 100%;
  font-family: "Figtree", sans-serif;
}
